<span><img alt="Google" title="Google Search" src="content/web-search/no-rec/google.png"><br>Google</span>
<span><img alt="Bing" title="Bing by Microsoft" src="content/web-search/no-rec/bing.png"><br>Bing</span>
<span><img alt="Yahoo" title="Yahoo! Search" src="content/web-search/no-rec/yahoo.png"><br>Yahoo! Search</span>
<span><img alt="Yandex" title="Yandex Search" src="content/web-search/no-rec/yandex.png"><br>Yandex Search</span>