<span><img alt="Gmail" title="Google Mail" src="/content/email/no-rec/gmail.png"><br>Gmail</span>
<span><img alt="Outlook" title="Outlook Mail by Microsoft" src="/content/email/no-rec/outlook.png"><br>Microsoft Outlook</span>
<span><img alt="Yahoo" title="Yahoo! Mail" src="/content/web-search/no-rec/yahoo.png"><br>Yahoo! Mail</span>
<span><img alt="Yandex" title="Yandex Mail" src="/content/web-search/no-rec/yandex.png"><br>Yandex Mail</span>
