<div class="container">
<div class="container-title"><h2>Web Search</h2></div>
<div class="not-recommended">
<div class="rec-ico"><i class="icon-thumbs-down-alt"></i></div>
	<!--#include virtual="/content/web-search/no-rec/no-rec.html" -->
</div>
<div class="recommended">
<div class="rec-ico-alt"><i class="icon-thumbs-up-alt reco"></i></div>
<div class="text-container">
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-search/rec/duckduckgo.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/web-search/rec/metager.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-search/rec/ixquick.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/web-search/rec/seeks.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-search/rec/yacy.html" -->
	</div>
</div>
</div></div></div>