<img src="/content/instant-messaging/rec/adium.png" alt="Adium" Title="Adium">
<a target="_blank" href="https://adium.im/" title="Adium Intant Messagin">Adium</a>
<span><i class="icon-lock"></i>Off the record messaging <i class="icon-apple">Mac OSX</i></span>
<p>Adium is a free, open-source instant messaging application for Mac OS X that can connect to AIM, MSN, Jabber, Yahoo and more.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more">
<div><h3>Notable Features</h3>
<ul>
<li>Open Source, so everyone can see how Adium works and help improve it</li>
<li>Support for a wide range of different Instant Messaging services</li>
<li>A delightful UI
<ul>
<li>Tabbed chat windows</li>
</ul>
</li>
<li>Mac OS X integration
<ul>
<li>Address Book integration</li>
<li>WebKit Message View: Theme your chat windows</li>
</ul>
</li>
<li>Combined Contacts: Merge your contacts so that each one represents a person, not an account</li>
<li>A sophisticated events system (including Growl notifications)</li>
<li>OTR Encryption</li>
<li>File Transfer</li>
<li>Xtras and many, many other customization options</li>
<li>A beautiful icon, the Adiumy duck</li>
<li>Translations: Adium speaks 27 different languages</li>
</ul>
</div></div>

