<img src="/content/os/rec/opensuse.png" alt="OpenSUSE logo" Title="OpenSUSE">
<a target="_blank" href="https://opensuse.org/" title="OpenSUSE Linux website">OpenSUSE</a>
<span><i class="icon-user"></i>Friendly</span>
<p>OpenSuse it's sponsored by SUSE and advertises itself as a easy to use, multi-purpose and complete distribution. Aimed towards users and developers working on a desktop or a server, openSUSE project provides a web portal for the community involvement.</p>