<span><img alt="Internet Explorer" title="Internet Explorer" src="/content/web-browser/no-rec/internet-explorer.png"><br>Internet Explorer</span>
<span><img alt="Google Chrome browser" title="Google Chrome browser" src="/content/web-browser/no-rec/google-chrome.png"><br>Google Chrome</span>
<span><img alt="Safari" title="Safari" src="/content/web-browser/no-rec/safari.png"><br>Safari</span>
<span><img alt="Opera" title="Opera" src="/content/web-browser/no-rec/opera.png"><br>Opera</span>