<img src="/content/web-search/rec/metager.png" alt="Metager logo" Title="Metager Search Engine">
<a target="_blank" href="https://www.metager.de/en" title="Metager Search Engine">Metager</a>
<p>Metager is German meta search engine runned by a non-profit charity organization named SUMA-EV in cooperation with Leibniz University of Hannover. The servers are located in Germany and as such they are under German data protection which is the strictest in the world.<br>They claim not to store ip-address, don't use cookies or local storage and to use very litle advertising on their pages running mostly from donations.</p>