<img src="/content/web-search/rec/yacy.png" alt="YaCy search engine logo" Title="YaCy">
<a target="_blank" href="http://www.yacy.net/" title="YaCy Search Engine">YaCy</a>
<span><i class="icon-resize-full"></i>peer-to-peer</span>
<p>A free distributed search engine, built on principles of peer-to-peer (P2P) networks. Compared to semi-distributed search engines, the YaCy-network has a decentralised architecture. All YaCy-peers are equal and no central server exists. It can be run either in a crawling mode or as a local proxy server, indexing web pages visited by the person running YaCy on his or her computer.</p>
<ul><li>Several mechanisms are provided to protect the user's privacy</li><li>You can - <a target="_blank" href="/libs/img/yacy.jpg" target="_blank" title="yacy search engine comparison"> demo image">see here</a> - an image description of how YaCy works</li><li>all users of the search engine network are equal</li><li>the network does not store user search requests and <strong>it is not possible for anyone to censor the content</strong> of the shared index</li></ul>