<img src="/content/email/rec/austici.png" alt="Austici Inventati" Title="Austici Inventati">
<a target="_blank" href="http://www.autistici.org/" title="Austici Inventati">Austici / Inventati</a>
<span><i class="icon-thumbs-up"></i>approval required</span>
<p>Austici's fundamental aim is to provide free communication tools on a wide basis, while pushing people to choose free rather than commercial communication modes.</p>
<p>They provide a full range of services: Blogs, Web Hosting, Anonymity Services, Personal VPNs Email, Mailing lists, Newsletters, Forums, Instant Messaging, Chat and Software project hosting</p>