<img src="/content/email/rec/mykolab.png" alt="MyKolab logo" Title="MyKolab">
<a target="_blank" href="https://mykolab.com/" title="">MyKolab</a>
<span><i class="icon-money"></i> paid service</span>
<p>MyKolab accounts are stored in Switzerland which means that your data is protected by the Swiss laws. MyKolab email service is run only with open-source software.</p>
<p>A nice Kolab feature is that you can export all your data to your computer.</p>