<img src="/content/email/rec/riseup.png" alt="Riseup logo" Title="Riseup">
<a target="_blank" href="https://riseup.net/" title="Riseup">Riseup</a>
<span><i class="icon-thumbs-up"></i>approval required</span>
<p>The Riseup Collective is an autonomous body based in Seattle with collective members world wide. Theyr purpose is to aid in the creation of a free society, a world with freedom from want and freedom of expression, a world without oppression or hierarchy, where power is shared equally.</p>