<div class="container">
<div class="container-title"><h2>Web Browser</h2></div>
<div class="not-recommended">
<div class="rec-ico"><i class="icon-thumbs-down-alt"></i></div>
	<!--#include virtual="/content/web-browser/no-rec/no-rec.html" -->
</div>
<div class="recommended">
<div class="rec-ico-alt"><i class="icon-thumbs-up-alt reco"></i></div>
<div class="text-container">
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-browser/rec/tor.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/web-browser/rec/firefox.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-browser/rec/johndonym.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/web-browser/rec/orbot.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/web-browser/rec/onion.html" -->
	</div></div></div></div></div>