<span><img alt="Microsoft Windows logo" title="Microsoft Windows" src="/content/os/no-rec/microsoft-windows.png"><br>Microsoft Windows</span>
<span><img alt="Apple OS logo" title="Apple OS" src="/content/os/no-rec/apple-os.png"><br>Apple OS</span>
<span><img alt="Google Chrome OS logo" title="Chrome OS" src="/content/os/no-rec/chrome-os.png"><br>Chrome OS</span>